.section {
	@include grid;
	margin-bottom: $spacing-l;

	&__content {
		margin-left: $spacing-m;
		display: flex;
		flex-direction: column;

		h2 {
			padding-top: 0;
		}

		&--right {
			margin-left: 0;
			margin-right: $spacing-m;
		}
	}

	&__text {
		flex-grow: 1;
	}

	&__image {
	  @include shadow();
		min-width: 400px;
		height: 400px;
		overflow: hidden;

		img {
			height: 100%;
			width: auto;
		}
	}
}