.list {
	.item {
		position: relative;
		width: 100%;
		max-width: 100%;
		margin: $spacing-ms 0;
		padding-bottom: $spacing-ms;
		border-bottom: solid 1px $blue;
		overflow: hidden;

		flex-direction: column;

		@media screen and (min-width: $breakpoint-tablet-small) {
			padding: $spacing-ms 0;
			margin: 0;

			flex-direction: row-reverse;
			justify-content: center;
		}

		> * {
			flex-shrink: 0;
		}

		&:last-child {
			border: none;
		}

		&__date {
			position: absolute;
			top: 20px;
			left: 20px;
			text-align: center;

			@media screen and (min-width: $breakpoint-tablet-small) {
				position: relative;
				top: 0;
				left: 0;
			}

			.date-field {
				position: relative;
				width: 60px;
				height: 60px;
				font-size: 20px;

				background-color: $blue;

				div {
					position: absolute;
					margin: 0;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					width: 100%;
				}

				@media screen and (min-width: $breakpoint-tablet-small) {
					width: 100px;
					height: 100px;
					font-size: 25px;
				}

				@media screen and (min-width: $breakpoint-tablet) {
					position: relative;
					width: 120px;
					height: 120px;
					font-size: 35px;
				}
			}

			.date-month {
				margin-top: $spacing-xs;
				text-transform: uppercase;
				color: $white;

				@media screen and (min-width: $breakpoint-tablet-small) {
					color: $black;
				}
			}
		}

		&__title {
			padding: 0;

			a {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		&__actions {
			position: absolute;
			top: -200px;
			z-index: 999;
			right: 15px;

			@media screen and (min-width: $breakpoint-mobile) {
				top: -150px;
			}

			@media screen and (min-width: $breakpoint-tablet-small) {
				position: relative;
				top: 0;
				right: 0;

				text-align: right;
			}

			.form {
				&:last-child {
					svg {
						margin-right: 0;
					}
				}
			}
		}

		&__content {
			position: relative;
			flex-grow: 1;
			width: 100%;
			margin-top: $spacing-s;
			padding: $spacing-s;

			@media screen and (min-width: $breakpoint-tablet-small) {
				margin-top: 0;
				margin-right: $spacing-s;
				margin-left: $spacing-s;
				padding: 0;
				width: 375px;
			}

			@media screen and (min-width: $breakpoint-tablet) {
				max-width: 580px;
			}

			@media screen and (min-width: $breakpoint-desktop-small) {
				margin-right: $spacing-ms;
				margin-left: $spacing-ms;
				max-width: 580px;
			}
		}

		&__section {
			position: relative;
			margin-bottom: $spacing-xs;

			.needs-space {
				margin-right: 50px;
			}
		}

		&__image {
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 200px;

			margin-right: 0;

			@media screen and (min-width: $breakpoint-mobile) {
				height: 150px;
			}

			@media screen and (min-width: $breakpoint-tablet-small) {
				width: 200px;
			}


			img {
				height: 100%;
				min-width: 100%;
			}
		}

		&__text {
			line-height: 20px;
		}
	}
}