.filter {
	border: 1px solid $blue;

	&--container {

	}

	&.row {
		align-items: center;

		> .btn {
			margin-left: 0;
		}
	}

	.form__group {
		width: 253px;
		max-height: 50px;
	}

	.form__input {
		height: 100%;
		margin-bottom: 0;
		padding: 14px 20px;
		border: none;
		border-right: 1px solid $blue;

		&:focus,
		&:valid {
			outline: none;
			border: none;
			border-right: 1px solid $blue;
		}
	}

	.form__label {
		display: none;
	}

	::placeholder {
		opacity: 1;
		transition: inherit;
	}

	.select {
		width: 250px;
		padding: 14px 20px;
		border: none;
	}
}