.icon {
	min-width: $spacing-s;
	width: $spacing-s;
	height: auto;
	fill: $black;
	margin-right: 15px;
	transform: scale(1);
	@include default-transition(all);

	&.is-btn {
		&:hover {
			transform: scale(1.2);
		}
	}

	&.is-heart {
		fill: $blue;
	}

	&.is-white {
		fill: $white;
	}

	&.is-check {
		width: $spacing-l;
		height: $spacing-l;

		position: absolute;
		bottom: 15px;
		left: 60%;
	}

	&.is-small {
		width: $spacing-xs;
		height: $spacing-xs;
	}

	&.is-large {
		width: $spacing-ms;
		height: $spacing-ms;
	}
}