.ticket {
  position: relative;
  color: $black;

  &__image {
    max-height: 100vh;
    min-width: 100%;
    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;

    opacity: .8;
  }

  &__content {
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;

    padding: $spacing-xl $spacing-l;

    background-color: $white;

    @media screen and (min-width: $breakpoint-tablet-small) {
      top: 200px;
      right: $spacing-s;
      left: $spacing-s;
    }

    @media screen and (min-width: $breakpoint-desktop) {
      right: $spacing-m;
      left: $spacing-m;
    }
  }

  &__qr {
    position: relative;
  }

  &__qrcode {
    position: absolute;
    top: $spacing-m;
    right: $spacing-m;
    left: $spacing-m;
    z-index: 3;

    text-align: center;
  }
}