.faq {
  &__item {
    margin: 10px 0;
    padding: 15px 30px;
    border: none;


    .fas {
      transform: rotate(0deg);
      transition: transform .2s ease;
    }

    &.is-open {
      border: 1px solid $blue;

      .faq__question {
        color: $blue;
      }

      .fas {
        transform: rotate(180deg);
      }

      .faq__answer {
        display: block;
      }
    }
  }

  &__question {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;

    @include font-heading;
    font-size: 2rem;
    text-align: left;

    color: $black;
    background-color: transparent;
    border: none;
    transition: color .2s ease;

    &:focus,
    &:hover {
      outline: none;
      cursor: pointer;
    }
  }

  &__title {
    flex-grow: 1;
    padding-right: 25px;
  }

  &__answer {
    display: none;
    line-height: 2.2rem;
  }
}
