.message {
  padding: $spacing-xs;
  margin-bottom: $spacing-xs;

	&__image {
		position: relative;

		width: 100px;
		height: 100px;
		overflow: hidden;

		margin-right: 30px;

		border: 1px solid $blue;

		img {
			position: absolute;
			top: 50%;
			left: 50%;

			min-width: 100px;
			min-height: 100px;
			height: 100%;

			transform: translate(-50%, -50%);
		}

		&.is-hidden {
			display: none;
			border: none;
		}
	}

	&__title {
		margin-bottom: 10px;
		padding: 0;
	}

	&__content {
		flex-grow: 1;
	}

	&__text {
		margin-bottom: 10px;

		&.is-type {
			font-size: 12px;
		}
	}

	&__actions {
		display: flex;
	}

	&.default {
		border: 5px solid $grey;
	}

	&.important {
		border: 5px solid $orange;

	}

	&.information {
		border: 5px solid $blue;
	}

	&.warning {
		border: 5px solid $red;
	}
}