// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@400;900|Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


@mixin font-logo {
	font-family: 'Poiret One', cursive;
	font-size: 35px;
}

@mixin font-heading {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}

@mixin font-base {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.code {
	font-family: 'Source Code Pro', monospace;
	margin: 0 20px;
}

.file {
	font-family: 'Source Code Pro', monospace;
	margin: 0 10px;
}
