// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat|Poiret+One|Merriweather&display=swap');


@mixin font-logo {
	font-family: 'Poiret One', cursive;
}

@mixin font-heading {
	font-family: 'Montserrat', sans-serif;
}

@mixin font-base {
	font-family: 'Merriweather', serif;
}
