@import 'font';
@import 'variables';
@import 'mixins';
@import 'image';
@import 'heading';

a {
  cursor: pointer;
  display: block;
}

.hidden {
  display: none;
}

.text-muted {
  color: gray;
  font-size: 11px;
}

.link {
  border-bottom: 1px $blue solid;
  line-height: 1;
  display: inline-block;

}

iframe {
  width: 100%;
  height: 300px;
}

span {
  &.invalid-feedback {
    color: red;
    font-weight: 800;
  }
}