@import 'font';
@import 'variables';
@import 'mixins';
@import 'image';
@import 'heading';

a {
  cursor: pointer;
  display: block;
}

.hidden {
  display: none;
}

.text-muted {
  color: gray;
  font-size: 11px;
}

.link {
  text-decoration: $blue underline;
  display: inline-block;

}

main {
  margin-bottom: 80px;

  @media screen and (min-width: $breakpoint-desktop-small) {
	margin-bottom: 0;
  }
}

iframe {
  width: 100%;
  height: 300px;
}

span {
  &.invalid-feedback {
    color: red;
    font-weight: 800;
  }
}