.footer {
	position: relative;
	margin-top: 100px;
	padding-top: 40px;
	padding-bottom: 80px;

	background-color: $purple;
	color: $white;



	.row {
		justify-content: space-between;
		@include grid();
	}

	&__logo {
		width: 100%;
		@include grid();
		@include font-logo();
	}

	.list {
		list-style: none;
		padding: 0;

		&__item {
			padding: 5px 0;
			font-size: 14px;
		}

		&__link {
			text-decoration: none;
			color: $white;
			position: relative;
		}
	}
}