// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$text-color-dark: #262323;

$red: #FE676E;
$green: #B5D571;
$blue: #85CBCC;
$yellow: #FBB148;