// Variables
@import '_font.scss';
@import 'variables';

@mixin pseudo($display: block, $pos: absolute, $content: ''){
	content: $content;
	display: $display;
	position: $pos;
}

* {
	margin: 0;
	padding: O;
}

html {
	min-height: 100vh;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	@include font-base;
}

main {
	flex-grow: 1;
}

.logo {
	@include font-heading;
	font-size: 35px;
}

h1, h2, h3, h4 {
	@include font-heading;
}
.row {
	display: flex;

	&--stretch {
		align-items: stretch;
	}
}

//Components
@import 'header';
@import 'footer';