.footer {
	padding: 10px 40px;

	@media screen and (min-width: $breakpoint-tablet-small) {
		padding: 10px 40px;
	}

	@media screen and (min-width: $breakpoint-tablet) {
		@include grid();
	}

	&--container {
		position: relative;
		padding-top: 40px;
		padding-bottom: 80px;

		background-color: $purple;
		color: $white;

		&.dark {
			background-color: $dark-grey;

			.sub-footer {
				background-color: $darkest-grey;
			}
		}
	}

	.row {
		display: block;

		@media screen and (min-width: $breakpoint-tablet-small) {
			display: flex;
			justify-content: space-between;
		}
	}

	&__logo {
		width: 100%;
		@include font-logo();
	}

	.list {
		list-style: none;
		padding: 0;

		&__item {
			padding: 5px 0;
			font-size: 14px;
		}

		&__link {
			text-decoration: none;
			color: $white;
			position: relative;
		}
	}
}

.sub-footer {
	background-color: $dark-purple;
	position: absolute;
	bottom: -80px;
	left: 0;
	right: 0;
	width: 100%;

	font-size: 12px;
	padding: 10px;

	@media screen and (min-width: $breakpoint-tablet-small) {
		bottom: 0;
	}

	&__content {
		@include grid();
	}

	.row {
		display: block;

		> * {
			margin: 10px 0;
		}

		@media screen and (min-width: $breakpoint-tablet-small) {
			display: flex;
			justify-content: space-between;

			> * {
				margin: 0;
			}
		}
	}

	.link {
		margin-right: 20px;
		text-decoration: none;
	}
}