.ticket {
	overflow: hidden;
	position: relative;

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
	}

	&__actions {
		padding: 10px 20px;
	}

	&__like {
		position: absolute;
		right: 10px;
		top: 10px;
	}

	&:hover {
		border: 1px solid $pink;

		.btn {
			background-color: $pink;
		}

		.ticket__price {
			color: $pink;

			&:before,
			&:after {
				background: $pink;
			}
		}

		.ticket__content {
			&:before,
			&:after {
				@include border(1px, $pink);
			}
		}

		.sub__content {
			&:before,
			&:after {
				@include border(1px, $pink);
			}
		}
	}

	&__content {
		padding: 20px;
		flex-grow: 1;
	}

	&__type {
		@include font-heading();
		text-transform: uppercase;
		text-align: center;
		font-size: 18px;

		margin-bottom: $spacing-ms;
	}

	&__price {
		position: relative;
		@include font-heading();
		text-transform: uppercase;
		text-align: center;
		font-size: 35px;
		color: $blue;

		margin-bottom: $spacing-ms;

		&:before,
		&:after {
			content: "";
			position: absolute;
			display: block;
			width: 40px;
			height: 1px;
			background: $blue;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			z-index: 50;
		}

		&:before {
			left: -20px;
		}

		&:after {
			right: -20px;
			left: auto;
		}
	}

	&__accent {
		width: 100%;
		
		&:before,
		&:after {
			content: "";
			position: absolute;
			display: block;
			width: 24px;
			height: 24px;
			background: $white;
			border-radius: 50%;
			@include border(1px, $blue);
			top: 20%;
			left: 0;
			z-index: 100;
			//transform: translateY(-50%);
		}

		&:before {
			left: -32px;
		}

		&:after {
			right: -32px;
			left: auto;
		}
	}

	&__text {
		margin-bottom: 10px;
	}
}