@import 'textarea';
@import 'inputdate';
@import 'input';
@import 'select';
@import 'colors';
@import 'fieldset';
@import 'checkbox-radio';

.form {
	&__group {
		position: relative;
		display: flex;
		flex-flow: column-reverse;

		&.is-select {
			label {
				transform: translate(10px, 10px) scale(.9);
				max-width: fit-content;
				background-color: white;
				padding: 0 $spacing-xs;
				width: auto;
			}
		}

		.color {
			position: absolute;
			top: 36px;
			left: 50px;
			font-size: 16px;
		}
	}

	&__label {
		@include default-transition();
		touch-action: manipulation;
		text-transform: lowercase;

		&.is-counter {
			position: absolute;
			top: 0;
			right: 20px;
			color: $red;
			max-width: fit-content;
			transform: translate($spacing-xs, $spacing-xs) scale(.9);
			background-color: white;
			padding: 0 $spacing-xs;
			width: auto;
		}
	}

	&__row {
		justify-content: space-between;

		& > * {
			width: calc(50% - 10px);
		}

		&.has-three {
			& > * {
				width: calc(33% - 10px);
				padding: $spacing-xs;
				text-align: center;
			}
		}
	}
}