input[type=email],
input[type=password],
input[type=text],
input[type=number],
input[type=textarea],
input[type=file],
input[type=date],
input[type=datetime-local],
input[type=time],
input[type=color],
textarea
{
	width: 100%;
	padding: $spacing-s;
	margin-bottom: $spacing-ms;

	font-size: 16px;
	@include font-base;

	@include border(1px, $blue);
	@include default-transition();
	touch-action: manipulation;

	&:focus,
	&:valid {
		outline: none;
		@include border(1px, $blue);
	}

	&.optional {
		@include border(1px, $grey);
	}
}

//TODO: deze code beter schrijven + link code: https://codepen.io/team/css-tricks/pen/XVBLRM + https://css-tricks.com/float-labels-css/
input:placeholder-shown + label,
textarea:placeholder-shown + label {
	cursor: text;
	max-width: fit-content;
	transform-origin: left bottom;
	transform: translate(15px, 40px) scale(1);
}
/**
* By default, the placeholder should be transparent. Also, it should
* inherit the transition.
*/
::placeholder {
	opacity: 0;
	transition: inherit;
}
/**
* Show the placeholder when the input is focused.
*/
input:focus::placeholder,
textarea:focus::placeholder {
  	color: $grey;
	opacity: 1;
}
/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when
* there's something in the input at all.
*/
input:not(:placeholder-shown) + label,
input:focus + label,
textarea:not(:placeholder-shown) + label,
textarea:focus + label {
	max-width: fit-content;
	transform: translate(4px, 10px) scale(.9);
	background-color: white;
	padding: 0 $spacing-xs;
	width: auto;
}

input[type=date]:not(:placeholder-shown) + label,
input[type=date]:focus + label {
	transform: translate(4px, 10px) scale(0.9);
}

input[type=file]:not(:placeholder-shown) + label,
input[type=file]:focus + label {
	transform: translate(6px, 10px) scale(0.9);
}

