.btn,
.button
{
	display: inline-block;

	width: 100%;
	margin: $spacing-xs 0;
	padding: 15px $spacing-xs;

	@include font-heading;
	font-size: 16px;
	text-transform: uppercase;

	background-color: $blue;
	color: $black;
	border: none;

	@include default-transition();

	text-align: center;
	vertical-align: middle;
	cursor: pointer;

	&.is-icon {
		margin: 0;
		padding: 0;
		width: auto;
		border: none;
		background-color: transparent;
	}

	&--purple {
		background-color: $purple;
		color: $white;
	}

	&--small {
		min-width: 200px;
		width: 200px;
		max-height: 50px;
		margin: 0;
		padding: 10px auto;
	}
}

.btn {
	&:hover {
		background-color: $pink;
		color: $black;
	}
}