.btn,
.button
{
	display: inline-block;

	width: 100%;
	margin: 10px 0;
	padding: 15px 30px;

	@include font-heading;
	font-size: 16px;
	text-transform: uppercase;

	background-color: $blue;
	color: $black;

	transition: background-color .2ms ease-in-out;

	text-align: center;
	vertical-align: middle;
	cursor: pointer;

	&.is-icon {
		margin: 0;
		padding: 0;
		width: 50px;
		border: none;
		background-color: transparent;

	}
}

.btn {
	&:hover {
		background-color: $pink;
		color: $black;
	}
}