.btn {
	width: 100%;
	font-size: 16px;
	margin: 10px 0;
	padding: 10px;
	display: inline-block;
	border: 1px solid $red;
	background-color: transparent;
	color: $red;
	transition: background-color .2ms ease-in-out;
	text-align: center;
	vertical-align: middle;

	&:hover {
		background-color: $red;
		color: $white;
		cursor: pointer;
	}

	&--white {
		border-color: $white;
		color: $white;

		&:hover {
			background-color: $white;
			color: $red;
		}
	}

	&--full {
		background-color: $red;
		color: $white;
	}

	&--small {
		width: 300px;
	}

	&.is-icon {
		border: none;
		background-color: transparent;
		margin: 0;
		padding: 0;
	}
}