.logo {
	width: calc(100% - 80px);
	//max-width: 100%;
	margin: 5px 40px;
	text-align: center;

	@include font-heading;
	font-size: 35px;
	display: inline-block;

	&--link {
		text-decoration: none;
		color: inherit;
	}
}