.panel {
 	height: 100%;
	color: $black;
	background-color: white;
	padding: 80px 80px 80px 120px;
	width: 60%;
	margin-top: 80px;

	&__title {
		@include font-heading;
		font-size: 30px;
		margin-bottom: 40px;
	}

	&__body {

	}
}