.account {
	display: flex;
	font-size: 16px;

	.sidebar {
		min-width: 305px;
		width: 305px;
		padding-right: 30px;

		display:flex;
		flex-direction: column;

		border-right: 1px solid $blue;

		&__section {
			border-bottom: 1px solid $blue;
			margin-bottom: 30px;
			padding-bottom: 30px;
		}

		&__item {
			padding: 10px 0;
		}

		&__link {
			&.active {
				font-family: "MontserratBlack", sans-serif;
				font-size: 17px;
				letter-spacing: 1px;
			}
		}

		&.is-left {
			border-right: none;
			border-left: 1px solid $blue;
			padding-right: 0;
			padding-left: 30px;
		}
	}

	.content {
		max-width: 655px;
		width: 655px;
		padding-left: 30px;

		h3 {
			width: auto;
			flex-grow: 1;
		}

		.card {
			width: calc((100% / 3) - 16px );
		}

		&.is-right {
			padding-right: 30px;
			padding-left: 0;
		}
	}

	h2 {
		padding-top: 0;
	}
}