.row {
    display: flex;
    flex-direction: row;

    &--stretch {
        align-items: center;

        @media screen and (min-width: $breakpoint-tablet-small) {
            align-items: stretch;
        }
    }

    &--wrap {
        flex-wrap: wrap;
    }

    &.is-title {
        align-items: center;
    }

    &--center {
        align-items: center;
    }

    &.is-form {
        align-items: center;
        max-height: 10vh;
        overflow: hidden;

        .form__group {
            flex-grow: 1;
        }

        .btn {
            width: 210px;
        }
    }

    &.in-form {
        justify-content: space-between;

        > * {
            width: calc((100% / 2) - 20px);
        }

        &.has-three {
            > * {
                width: calc((100% /3) - 10px);
                padding: $spacing-xs;
            }
        }
    }
}

.is-grow {
  	flex-grow: 1;
}