/* Style the tab */
.tab {
  overflow: hidden;
  background-color: $white;

  &__heading {
    display: flex;
    justify-content: space-between;

    padding-bottom: -1px;
    border-bottom: 1px solid $grey;
    margin-bottom: 30px;
    overflow-x: scroll;
  }

  #scrollbar::-webkit-scrollbar {
    height: 5px;
    width: 5px
  }

  /* Track */
  #scrollbar {
    & ::-webkit-scrollbar-track {
      border-radius: 20px;
      background: $white;
    }

    &::-webkit-resizer,
    &::-webkit-scrollbar-button,
    &::-webkit-scrollbar-corner {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 40px;
      background: $pink;
    }

    &::-webkit-scrollbar-thumb:window-inactive {
      background: pink;
    }
  }


  &__button {
    position: relative;
    padding: 10px 0;
    margin: 0 10px;

    @include font-heading;
    font-size: 18px;

    color: $grey;
    background-color: inherit;

    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: $black;
    }

    &.active {
      color: $purple;
      font-weight: 900;
      border-bottom: 1px $purple solid;
    }
  }

  &__content {
    display: none;
    border-top: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}