/* Style the tab */
.tab {
  overflow: hidden;
  background-color: transparent;

  &__heading {
    display: flex;
    justify-content: space-between;

    padding-bottom: -1px;
    border-bottom: 1px solid $grey;
    margin-bottom: 30px;

    &.dark {
      border-bottom: 1px solid $white;

      .tab__button {
        color: $grey;

        &:hover {
          color: $white;
        }

        &.active {
          color: $blue;
          font-weight: 900;

          &:after {
            background-color: $blue;
          }
        }
      }
    }
  }

  #scrollbar::-webkit-scrollbar {
    height: 5px;
    width: 5px
  }

  /* Track */
  #scrollbar {
    & ::-webkit-scrollbar-track {
      border-radius: 20px;
      background: $white;
    }

    &::-webkit-resizer,
    &::-webkit-scrollbar-button,
    &::-webkit-scrollbar-corner {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 40px;
      background: $pink;
    }

    &::-webkit-scrollbar-thumb:window-inactive {
      background: pink;
    }
  }


  &__button {
    position: relative;
    padding: 10px 0;
    margin: 0 10px;

    @include font-heading;
    font-size: 18px;

    color: $grey;
    background-color: inherit;

    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: $black;
    }

    &.active {
      color: $purple;
      font-weight: 900;

      &:after {
        @include pseudo;
        height: 1px;
        width: 100%;
        left: 0;
        bottom: -1px;
        background-color: $purple;
      }
    }
  }

  &__content {
    display: none;
    border-top: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */

    &.dark {
      color: $white;
    }
  }
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}