.slide {
	&-item {
	  width: 100%;
	  min-width: 100%;
	  min-height: 100%;
	}

	&__content {
	  min-height: 100%;

	  .ctn-image {
		min-height: calc(100% + 80px);
		width: 100%;
		flex-shrink: 1;
	  }
	}

	&__text {
		display: flex;
		flex-direction: column;
		padding: $spacing-m 0 $spacing-m $spacing-m;
		flex-grow: 1;

		p {
			flex-grow: 1;
		}
	}
}