.slideshow {
	position: relative;
	overflowx: hidden;
	color: $white;

	&__content {
		@include grid();
	}

	&__arrow {
		display: flex;
		align-items: center;

		position: absolute;
		bottom: 0;

		height: 100%;
		width: 50px;

		cursor: pointer;
	}

	&__backArrow {
		margin-left: $spacing-xs;
	}

	&__nextArrow {
		right: 0;
		margin-right: $spacing-xs;
	}
}