.hero {
	position: relative;
	width: 100%;
	height: 50vh;
	padding: 80px auto;

	overflow: hidden;

	color: $white;

	@media screen and (min-width: $breakpoint-mobile) {
		height: calc(100vh - 90px);
	}

	&__content {
		@include grid();
		padding-top: 100px !important;
	}

	&__image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		z-index: -999;

		width: 100%;
		height: 100%;
		overflow: hidden;

		img {
			min-width: 100%;
			min-height: 100%;

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			@media screen and (min-width: $breakpoint-tablet-small) {
				width: 100%;
			}
		}
	}

	&__logo {
		position: relative;
		font-size: 80px;
		margin-bottom: 80px;
		z-index: 1;
		text-align: center;
		width: 100%;

		&:before,
		&:after {
			content: "";
			position: absolute;
			display: block;
			width: 40px;
			height: 1px;
			background: $white;
			top: 50%;
			left: 0;
			transform: translateY(-50%);

			@media screen and (min-width: $breakpoint-tablet-small) {
				width: 400px;
			}
		}

		&:before {
			left: 0;

			@media screen and (min-width: $breakpoint-tablet-small) {
				left: -200px;
			}

			@media screen and (min-width: $breakpoint-tablet) {
				left: -150px;
			}
		}

		&:after {
			right: 0;
			left: auto;

			@media screen and (min-width: $breakpoint-tablet-small) {
				right: -200px;
			}

			@media screen and (min-width: $breakpoint-tablet) {
				right: -150px;
			}
		}
	}

	&:before {
		@include gradient();
	}

	&__actions {
		@include grid();
		margin-top: $spacing-s;

		@media screen and (min-width: $breakpoint-tablet) {
			margin-top: $spacing-ms;
		}
	}

	&__organisation {
		flex-grow: 1;
		font-size: 14px;

		a {
			margin-left: 5px;
		}
	}

	&__location {
		flex-shrink: 0;
		color: white;
		justify-content: center !important;
	}

	&__subtitle {
		padding-top: 0;
	}

	&__title {
		text-transform: uppercase;

		@media screen and (min-width: $breakpoint-tablet) {
			margin-bottom: 40px;
		}

		@media screen and (min-width: $breakpoint-desktop-small) {
			margin-bottom: 80px;
		}
	}

	&__description {
		display: none;

		@media screen and (min-width: $breakpoint-mobile) {
			display: block;
			text-align: center;
			margin-bottom: 80px;
			font-size: 18px;
			line-height: 25px;
			padding: 0 20px;
		}

		@media screen and (min-width: $breakpoint-tablet) {
			font-size: 20px;
			line-height: 30px;
			padding: 0 10px;
		}

		@media screen and (min-width: $breakpoint-desktop-small) {
			padding: 0;
		}

		&.is-large {
			font-size: 25px;
		}
	}

	&.dark {
		&:before {
			@include gradient(right, $medium-grey, $medium-grey);
		}
	}
}