.table {
	margin-top: $spacing-s;

	&__heading {
		padding: $spacing-s;

		@include font-heading;
		font-size: 20px;

		border-bottom: 1px solid $red;

	  & > * {
		width: calc(100% / 3);
	  }
	}

	&__content {

	}

	&__item {
		padding: $spacing-s;

		&:nth-child(odd){
			background-color: rgba($red, .5);
		}

	  & > * {
		width: calc(100% / 3);
	  }
	}
}