.table {
	margin-top: $spacing-s;

	&__heading {
		display: none !important;

		@media screen and (min-width: $breakpoint-tablet-small) {
			display: flex !important;

			padding: $spacing-xs $spacing-s;

			@include font-heading;
			font-size: 20px;

			border-bottom: 1px solid $grey;
		}



		& > * {
			width: calc(100% / 3);
		}

		.item__time {
			text-align: left !important;
			width: 50px;
		}
	}

	&__content {
		@media screen and (min-width: $breakpoint-tablet-small) {
			max-height: 600px;
		}
	}

	.item {
		padding: $spacing-ms $spacing-s;
		flex-direction: column;

		@media screen and (min-width: $breakpoint-tablet-small) {
			flex-direction: row;
		}

		&:nth-child(odd){
			background-color: rgba($blue, .2);

			.item__image {
				border-color: $white;
			}
		}

		&__time {
			width: 100%;
			margin-bottom: 5px;

			@media screen and (max-width: $breakpoint-tablet-small) {
				br{
					content:' ';

					&:after {
						content:' ';
					}
				}
			}

			@media screen and (min-width: $breakpoint-tablet-small) {
				max-width: 50px;
				width: 50px;
				text-align: center;
				margin-right: $spacing-s;
				margin-bottom: 0;
			}
		}

		&__image {
			position: relative;
			width: 100%;
			height: 100px;
			border: 1px solid $blue;
			overflow: hidden;
			margin-bottom: 10px;

			flex-shrink: 0;

			@media screen and (min-width: $breakpoint-tablet-small) {
				width: 60px;
				height: 60px;
				border-radius: 50%;
				margin-right: $spacing-s;
				margin-bottom: 0;
			}

			&.is-hidden {
				height: 10px;
				border: none;
			}

			img {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);

				min-width: 100%;
				max-width: 100px;
				width: auto;
				min-height: 100%;
				max-height: 600px;
				height: auto;

				@media screen and (min-width: $breakpoint-tablet-small) {
					max-height: 100px;
				}
			}
		}

		&__content {
			flex-grow: 1;
			width: 100%;
			margin-bottom: 20px;

			@media screen and (min-width: $breakpoint-tablet-small) {
				max-width: 600px;
				width: 300px;
				margin-right: 20px;
			}
		}

		&__title {
			padding-top: 0;

			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&__location {
			width: 100%;
			flex-shrink: 0;

			@media screen and (min-width: $breakpoint-tablet-small) {
				width: 180px;
			}
		}
	}
}