.v-grid {
  display: flex;
  flex-wrap: wrap;

  .item {
	position: relative;
	width: calc(50% - 10px);
	margin: 15px 5px;
	@include shadow();
	border-radius: 5px;
	overflow: hidden;

	&__date {
	  position: absolute;
	  top: 5px;
	  right: 5px;
	  z-index: 999;

	  @include font-heading;
	  font-size: 15px;
	  text-align: center;

	  background-color: $red;
	  color: $white;

	  height: 50px;
	  width: 50px;
	  padding: $spacing-xs;

	  .is-check {
		bottom: -10px;
		right: -10px;
		left: auto;
	  }

	  .is-small {
		width: 30px;
		height: 30px;
	  }
	}

	&__content {
	  width: 100%;
	  text-align: left;
	  padding: 5px 15px;
	}

	&__title {
	  @include font-heading;
	  font-size: 18px;
	  margin-top: 10px;
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}

	&__text {
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}

	&__image {
	  overflow: hidden;
	  height: 200px;
	  width: 100%;

	  img {
		min-height: 100%;
		min-width: 100%;
	  }
	}

	&__actions {
	  text-align: center;
	  margin-right: 0;
	  width: 100%;
	  padding: 5px 15px;
	}
  }
}