.header {
	position: relative;

	@include grid();
	display: flex;
	align-items: center;
	padding: $spacing-xs;
	min-width: 100%;
	height: 100%;

	@media screen and (min-width: $breakpoint-mobile) {
		padding: $spacing-xs $spacing-s;
	}

	@media screen and (min-width: $breakpoint-desktop-small) {
		padding: $spacing-xs 0;
	}

	&__container {
		max-width: 960px;
		width: 100%;
		margin: 0 auto;
		height: 90px;

		&.dark {
			color: $white;

			.logo {
				&.has-line {
					&::before {
						@include pseudo;
						top: 65%;
						left: -1040px;
						width: 1000px;
						height: 1px;
						background-color: $white;
					}
				}
			}

			.nav {
				&.is-open {
					background-color: $medium-grey;
				}
			}

			.nav-icon {
				.is-middle {
					background-color: $white !important;
				}

				&:before,
				&:after {
					background-color: $white;
				}
			}
		}
	}

	.logo {
		position: relative;
		margin: 0;

		width: calc(100% - 20px);

		@media screen and (min-width: $breakpoint-tablet) {
			width: 100px;
		}
	}

	.nav {
		display: none;

		@media screen and (min-width: $breakpoint-tablet) {
			flex-grow: 1;
			display: flex;
			align-items: center;
		}

		&__bar {
			list-style: none;
			display: flex;
			font-size: 16px;
			align-items: center;
		}

		&__item {
			padding: 10px 20px;

			&:last-child {
				padding-right: 0;
			}

			&.active {
				font-family: "MontserratBlack", sans-serif;
				font-size: 17px;
				letter-spacing: 1px;
			}
		}

		&__link {
			position: relative;

			&.active {
				font-family: "MontserratBlack", sans-serif;
				font-size: 17px;
				letter-spacing: 1px;
			}

			&.fit {
				width: fit-content;
				margin-right: 30px;
				margin-left: auto;
			}

			&:hover {
				&:after {
					@include pseudo();
					height: 1px;
					width: 100%;
					background-color: $blue;
				}
			}
		}

		&.is-open {
			display: flex;
			flex-direction: column;

			position: absolute;
			top: 90px;
			left: 0;
			padding: 20px 10px;

			z-index: 999;

			background-color: $white;
			width: 100%;

			.nav__bar {
				display: flex;
				flex-direction: column;
				align-items: start;
			}

			a.nav__link {
				width: 100%;
				padding: 30px 20px;
				cursor: pointer;
			}
		}
	}

	.nav-icon {
		position: relative;
		width: 15px !important;
		height: 15px;

		@media screen and (min-width: $breakpoint-tablet) {
			display: none;
		}

		&.btn {
			&:hover {
				background-color: transparent;
			}
		}

		.is-middle {
			position: absolute;
			top: 0;

			display: block;
			height: 1px;
			width: 15px !important;
			background-color: $black !important;
		}

		&:before,
		&:after {
			@include pseudo();
			height: 1px;
			width: 15px;
			background-color: $black;
		}

		&:before {
			top: 5px;
		}

		&:after {
			top: 10px;
		}
	}

	.btn {
		margin-right: 30px;
	}
}

