.logo {
	position: relative;
	width: 200px;
	margin: 0;

	@include font-logo;
	display: inline-block;

	&--link {
		text-decoration: none;
		color: inherit;
	}

	&.has-line {
		&::before {
			@include pseudo;
			top: 65%;
			left: -1040px;
			width: 1000px;
			height: 1px;
			background-color: $black;
		}

		&.is-white {
			&::before {
				background-color: $white;
			}
		}
	}

	&.is-white {
		color: $white;
	}

	&.has-lines {
		&::before,
		&::after {
			@include pseudo;
			top: 65%;
			height: 1px;
			background-color: $black;
		}

		&::before {
			left: -1040px;
			width: 1000px;
		}

		&::after {
			left: 140px;
			width: 5000px;
		}

		&.is-white {
			&::before,
			&::after {
				background-color: $white;
			}
		}
	}

	&--s {
		font-size: 25px;
		width: auto;
	}

	&--xs {
		font-size: 20px;
		width: auto;
	}

	&.is-special {
		width: auto;
		@include font-heading;
		font-size: 25px;
		display: inline-block;
		text-transform: uppercase;
	}
}