@import url(https://fonts.googleapis.com/css?family=Montserrat|Poiret+One&display=swap);/*--------------------------------------------------------------
pseudo
--------------------------------------------------------------*/

/*--------------------------------------------------------------
accent line
--------------------------------------------------------------*/

/*--------------------------------------------------------------
border
--------------------------------------------------------------*/

/*--------------------------------------------------------------
grid
--------------------------------------------------------------*/

/*--------------------------------------------------------------
transition
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Translate
--------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

main {
  -webkit-box-flex: 1;
          flex-grow: 1;
}

h1,
h2,
h3,
h4 {
  font-family: "Poiret One", cursive;
}

h1 {
  font-size: 35px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
}

h1::after {
  content: "";
  border-top: 1px solid;
  margin: 0 0 0 20px;
  -webkit-box-flex: 1;
          flex: 1 0 20px;
}

h2 {
  font-size: 25px;
  padding: 20px 0;
  display: -webkit-box;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
}

h2::after {
  content: "";
  border-top: 1px solid;
  margin: 0 0 0 40px;
  -webkit-box-flex: 1;
          flex: 1 0 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.row {
  display: -webkit-box;
  display: flex;
}

.row--stretch {
  -webkit-box-align: stretch;
          align-items: stretch;
}

.ctn--image img {
  width: 100%;
  height: auto;
}

.grid {
  padding: 0 80px;
  max-width: 960px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 0 80px;
  max-width: 960px;
  padding-top: 20px;
}

.header .logo {
  -webkit-box-flex: 1;
          flex-grow: 1;
  position: relative;
}

.header .logo::before {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: #262323;
  top: 65%;
  left: calc(-35% - 30px);
  width: 35%;
}

.header .nav__bar {
  list-style: none;
  display: -webkit-box;
  display: flex;
  font-size: 16px;
}

.header .nav__item {
  padding: 10px 20px;
}

.header .nav__item:last-child {
  padding-right: 0;
}

.header .nav__link {
  color: #262323;
  text-decoration: none;
  position: relative;
}

.header .nav__link::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #262323;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

.header .nav__link:hover::before {
  left: 0;
  right: 0;
  width: 100%;
}

.header .nav__link.active::before {
  left: 0;
  right: 0;
  width: 100%;
  background-color: #FE676E;
}

.footer {
  position: relative;
  margin-top: 80px;
  padding-bottom: 80px;
}

.footer::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #FE676E;
}

.footer .row {
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 0 80px;
  max-width: 960px;
  margin: 0 auto;
}

.footer .logo {
  position: relative;
  padding: 0 80px;
  max-width: 960px;
  margin: 0 auto;
}

.footer .logo::before {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: #262323;
  top: 65%;
  left: -10px;
  width: 5%;
}

.footer .logo::after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: #262323;
  top: 65%;
  right: 0;
  width: 60%;
}

.footer .list {
  list-style: none;
  padding: 0;
}

.footer .list__item {
  padding: 10px 0;
}

.footer .list__item:first-child {
  font-weight: 700;
}

.footer .list__link {
  text-decoration: none;
  color: black;
  position: relative;
}

.footer .list__link::before {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: #262323;
  bottom: -2px;
  left: 0;
  width: 0;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

.footer .list__link:hover::before {
  width: 100%;
}

.footer .list__link.active::before {
  width: 100%;
  background-color: #FE676E;
}

.section {
  margin: 20px 0;
  padding: 20px 80px;
}

.section__content {
  margin-left: 40px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.section__content h2 {
  padding-top: 0;
}

.section__content--right {
  margin-left: 0;
  margin-right: 40px;
}

.section__text {
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.section__image {
  min-width: 400px;
  height: 400px;
  overflow: hidden;
}

.section__image img {
  height: 100%;
  width: auto;
}

.section--red {
  background-color: #FE676E;
  color: #ffffff;
}

.page {
  position: relative;
  min-height: 100vh;
}

.page__image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  max-height: 100%;
  opacity: 0.4;
}

.page__image img {
  height: 100%;
  width: auto;
}

.page--auth {
  color: #ffffff;
}

.page--auth .logo {
  position: relative;
}

.page--auth .logo::after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: #ffffff;
  top: 65%;
  right: 0;
  width: 60%;
}

.slideshow {
  background-color: #FE676E;
  width: 100%;
  margin-bottom: 80px;
}

.slideshow__content {
  padding: 0 80px;
  max-width: 960px;
  margin: 0 auto;
}

.slideshow__text {
  -webkit-box-flex: 1;
          flex-grow: 1;
  padding: 40px;
}

.slideshow .ctn--image {
  width: 400px;
  height: 650px;
  margin-top: -40px;
  margin-bottom: -40px;
  overflow: hidden;
}

.slideshow .ctn--image img {
  height: 100%;
  width: auto;
  position: relative;
  right: 50%;
}

.btn {
  width: 100%;
  font-size: 16px;
  margin: 10px 0;
  padding: 10px;
  display: inline-block;
  border: 1px solid #FE676E;
  background-color: transparent;
  color: #FE676E;
  -webkit-transition: background-color 0.2ms ease-in-out;
  transition: background-color 0.2ms ease-in-out;
  text-align: center;
}

.btn:hover {
  background-color: #FE676E;
  color: #ffffff;
  cursor: pointer;
}

.btn--white {
  border-color: #ffffff;
  color: #ffffff;
}

.btn--white:hover {
  background-color: #ffffff;
  color: #FE676E;
}

.btn--full {
  background-color: #FE676E;
  color: #ffffff;
}

.panel {
  position: relative;
  height: 100%;
  color: #262323;
  background-color: white;
  padding: 20px;
  margin-top: 120px;
  z-index: 1;
}

@media screen and (min-width: 640px) {
  .panel {
    width: 70%;
    padding: 40px;
  }
}

@media screen and (min-width: 960px) {
  .panel {
    max-width: 900px;
    width: 60%;
    padding: 80px 120px;
  }
}

.panel__title {
  font-family: "Poiret One", cursive;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.card {
  position: relative;
  display: block;
  padding: 40px;
  border: 1px solid #FE676E;
  background: #ffffff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.card--container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.card__title {
  font-size: 25px;
  text-align: center;
}

.card__price {
  margin: 40px 0;
  text-align: center;
  font-size: 40px;
}

.card__text {
  margin-bottom: 40px;
}

.logo {
  font-family: "Poiret One", cursive;
  font-size: 35px;
  display: inline-block;
}

.logo--link {
  text-decoration: none;
  color: inherit;
}

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Variables
2.0 Cards
3.0 Bullets

https://medium.com/significa/css-only-slider-71727effff0b
https://significa.github.io/css-only-slider/
https://github.com/Significa/css-only-slider

--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Variables
--------------------------------------------------------------*/

/*--------------------------------------------------------------
2.0 Cards
--------------------------------------------------------------*/

.slider__item {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#slide-1:checked ~ .slider__holder .slider__item--1 {
  position: relative;
  z-index: 2;
  -webkit-transform: translate(0) scale(1);
          transform: translate(0) scale(1);
}

#slide-2:checked ~ .slider__holder .slider__item--1 {
  z-index: 1;
  -webkit-transform: translateX(-200px) scale(0.85);
          transform: translateX(-200px) scale(0.85);
}

@media (max-width: 768px) {
  #slide-2:checked ~ .slider__holder .slider__item--1 {
    -webkit-transform: translateX(-100px) scale(0.85);
            transform: translateX(-100px) scale(0.85);
    opacity: 0.6;
  }
}

#slide-3:checked ~ .slider__holder .slider__item--1 {
  z-index: 0;
  -webkit-transform: translateX(-300px) scale(0.75);
          transform: translateX(-300px) scale(0.75);
}

@media (max-width: 900px) {
  #slide-3:checked ~ .slider__holder .slider__item--1 {
    -webkit-transform: translateX(-170px) scale(0.65);
            transform: translateX(-170px) scale(0.65);
  }
}

@media (max-width: 768px) {
  #slide-3:checked ~ .slider__holder .slider__item--1 {
    opacity: 0;
  }
}

#slide-1:checked ~ .slider__holder .slider__item--2 {
  z-index: 1;
  -webkit-transform: translateX(200px) scale(0.85);
          transform: translateX(200px) scale(0.85);
}

@media (max-width: 768px) {
  #slide-1:checked ~ .slider__holder .slider__item--2 {
    -webkit-transform: translateX(100px) scale(0.85);
            transform: translateX(100px) scale(0.85);
    opacity: 0.6;
  }
}

#slide-2:checked ~ .slider__holder .slider__item--2 {
  position: relative;
  z-index: 2;
  -webkit-transform: translate(0) scale(1);
          transform: translate(0) scale(1);
}

#slide-3:checked ~ .slider__holder .slider__item--2 {
  z-index: 1;
  -webkit-transform: translateX(-200px) scale(0.85);
          transform: translateX(-200px) scale(0.85);
}

@media (max-width: 768px) {
  #slide-3:checked ~ .slider__holder .slider__item--2 {
    -webkit-transform: translateX(-100px) scale(0.85);
            transform: translateX(-100px) scale(0.85);
    opacity: 0.6;
  }
}

#slide-4:checked ~ .slider__holder .slider__item--2 {
  z-index: 0;
  -webkit-transform: translateX(-300px) scale(0.75);
          transform: translateX(-300px) scale(0.75);
}

@media (max-width: 900px) {
  #slide-4:checked ~ .slider__holder .slider__item--2 {
    -webkit-transform: translateX(-170px) scale(0.65);
            transform: translateX(-170px) scale(0.65);
  }
}

@media (max-width: 768px) {
  #slide-4:checked ~ .slider__holder .slider__item--2 {
    opacity: 0;
  }
}

#slide-1:checked ~ .slider__holder .slider__item--3 {
  z-index: 0;
  -webkit-transform: translateX(300px) scale(0.75);
          transform: translateX(300px) scale(0.75);
}

@media (max-width: 900px) {
  #slide-1:checked ~ .slider__holder .slider__item--3 {
    -webkit-transform: translateX(170px) scale(0.65);
            transform: translateX(170px) scale(0.65);
  }
}

@media (max-width: 768px) {
  #slide-1:checked ~ .slider__holder .slider__item--3 {
    opacity: 0;
  }
}

#slide-2:checked ~ .slider__holder .slider__item--3 {
  z-index: 1;
  -webkit-transform: translateX(200px) scale(0.85);
          transform: translateX(200px) scale(0.85);
}

@media (max-width: 768px) {
  #slide-2:checked ~ .slider__holder .slider__item--3 {
    -webkit-transform: translateX(100px) scale(0.85);
            transform: translateX(100px) scale(0.85);
    opacity: 0.6;
  }
}

#slide-3:checked ~ .slider__holder .slider__item--3 {
  position: relative;
  z-index: 2;
  -webkit-transform: translate(0) scale(1);
          transform: translate(0) scale(1);
}

#slide-4:checked ~ .slider__holder .slider__item--3 {
  z-index: 1;
  -webkit-transform: translateX(-200px) scale(0.85);
          transform: translateX(-200px) scale(0.85);
}

@media (max-width: 768px) {
  #slide-4:checked ~ .slider__holder .slider__item--3 {
    -webkit-transform: translateX(-100px) scale(0.85);
            transform: translateX(-100px) scale(0.85);
    opacity: 0.6;
  }
}

#slide-5:checked ~ .slider__holder .slider__item--3 {
  z-index: 0;
  -webkit-transform: translateX(-300px) scale(0.75);
          transform: translateX(-300px) scale(0.75);
}

@media (max-width: 900px) {
  #slide-5:checked ~ .slider__holder .slider__item--3 {
    -webkit-transform: translateX(-170px) scale(0.65);
            transform: translateX(-170px) scale(0.65);
  }
}

@media (max-width: 768px) {
  #slide-5:checked ~ .slider__holder .slider__item--3 {
    opacity: 0;
  }
}

#slide-2:checked ~ .slider__holder .slider__item--4 {
  z-index: 0;
  -webkit-transform: translateX(300px) scale(0.75);
          transform: translateX(300px) scale(0.75);
}

@media (max-width: 900px) {
  #slide-2:checked ~ .slider__holder .slider__item--4 {
    -webkit-transform: translateX(170px) scale(0.65);
            transform: translateX(170px) scale(0.65);
  }
}

@media (max-width: 768px) {
  #slide-2:checked ~ .slider__holder .slider__item--4 {
    opacity: 0;
  }
}

#slide-3:checked ~ .slider__holder .slider__item--4 {
  z-index: 1;
  -webkit-transform: translateX(200px) scale(0.85);
          transform: translateX(200px) scale(0.85);
}

@media (max-width: 768px) {
  #slide-3:checked ~ .slider__holder .slider__item--4 {
    -webkit-transform: translateX(100px) scale(0.85);
            transform: translateX(100px) scale(0.85);
    opacity: 0.6;
  }
}

#slide-4:checked ~ .slider__holder .slider__item--4 {
  position: relative;
  z-index: 2;
  -webkit-transform: translate(0) scale(1);
          transform: translate(0) scale(1);
}

#slide-5:checked ~ .slider__holder .slider__item--4 {
  z-index: 1;
  -webkit-transform: translateX(-200px) scale(0.85);
          transform: translateX(-200px) scale(0.85);
}

@media (max-width: 768px) {
  #slide-5:checked ~ .slider__holder .slider__item--4 {
    -webkit-transform: translateX(-100px) scale(0.85);
            transform: translateX(-100px) scale(0.85);
    opacity: 0.6;
  }
}

#slide-3:checked ~ .slider__holder .slider__item--5 {
  z-index: 0;
  -webkit-transform: translateX(300px) scale(0.75);
          transform: translateX(300px) scale(0.75);
}

@media (max-width: 900px) {
  #slide-3:checked ~ .slider__holder .slider__item--5 {
    -webkit-transform: translateX(170px) scale(0.65);
            transform: translateX(170px) scale(0.65);
  }
}

@media (max-width: 768px) {
  #slide-3:checked ~ .slider__holder .slider__item--5 {
    opacity: 0;
  }
}

#slide-4:checked ~ .slider__holder .slider__item--5 {
  z-index: 1;
  -webkit-transform: translateX(200px) scale(0.85);
          transform: translateX(200px) scale(0.85);
}

@media (max-width: 768px) {
  #slide-4:checked ~ .slider__holder .slider__item--5 {
    -webkit-transform: translateX(100px) scale(0.85);
            transform: translateX(100px) scale(0.85);
    opacity: 0.6;
  }
}

#slide-5:checked ~ .slider__holder .slider__item--5 {
  position: relative;
  z-index: 2;
  -webkit-transform: translate(0) scale(1);
          transform: translate(0) scale(1);
}

/*--------------------------------------------------------------
3.0 Bullets
--------------------------------------------------------------*/

.bullets__item {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#slide-1:checked ~ .bullets .bullets__item--1 {
  background: #FE676E;
}

#slide-2:checked ~ .bullets .bullets__item--2 {
  background: #FE676E;
}

#slide-3:checked ~ .bullets .bullets__item--3 {
  background: #FE676E;
}

#slide-4:checked ~ .bullets .bullets__item--4 {
  background: #FE676E;
}

#slide-5:checked ~ .bullets .bullets__item--5 {
  background: #FE676E;
}

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Slider
2.0 Bullets
3.0 Section
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Slider
--------------------------------------------------------------*/

.slider {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slider__radio {
  display: none;
}

.slider__holder {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 80px;
}

@media (max-width: 600px) {
  .slider__holder {
    margin-top: 60px;
  }
}

.slider__item {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  max-width: 100%;
  opacity: 1;
  cursor: pointer;
}

.slider__item-content {
  padding: 40px;
}

@media (max-width: 600px) {
  .slider__item-content {
    padding: 32px 32px;
  }
}

@media (max-width: 375px) {
  .slider__item-content {
    padding: 40px 24px;
  }
}

.slider__item-text {
  padding: 60px 0;
}

/*--------------------------------------------------------------
2.0 Bullets
--------------------------------------------------------------*/

.bullets {
  z-index: 10;
  display: block;
  width: auto;
  height: 10px;
  height: 10px;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 56px;
  text-align: center;
}

@media (max-width: 600px) {
  .bullets {
    margin-top: 32px;
  }
}

.bullets__item {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border-radius: 6px;
  background: rgba(38, 35, 35, 0.2);
  cursor: pointer;
}

.bullets__item:hover {
  background: #FE676E;
}

input[type=email],
input[type=password],
input[type=text],
input[type=number] {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #262323;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  touch-action: manipulation;
}

input[type=email]:focus,
input[type=email]:valid,
input[type=password]:focus,
input[type=password]:valid,
input[type=text]:focus,
input[type=text]:valid,
input[type=number]:focus,
input[type=number]:valid {
  outline: none;
  border: 1px solid #FE676E;
}

input:placeholder-shown + label {
  cursor: text;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: translate(20px, 40px) scale(1);
          transform: translate(20px, 40px) scale(1);
}

/**
* By default, the placeholder should be transparent. Also, it should
* inherit the transition.
*/

::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: inherit;
  transition: inherit;
}

/**
* Show the placeholder when the input is focused.
*/

input:focus::-webkit-input-placeholder {
  opacity: 1;
}

/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when
* there's something in the input at all.
*/

input:not(:placeholder-shown) + label,
input:focus + label {
  -webkit-transform: translate(10px, 10px) scale(0.9);
          transform: translate(10px, 10px) scale(0.9);
  background-color: white;
  padding: 0 10px;
  width: auto;
}

.form__group {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-flow: column-reverse;
}

.form__label {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  touch-action: manipulation;
}

.photolist {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.photolist__item {
  height: 20vh;
  -webkit-box-flex: 1;
          flex-grow: 1;
  width: 50%;
}

@media screen and (min-width: 640px) {
  .photolist__item {
    height: 15vh;
    -webkit-box-flex: 1;
            flex-grow: 1;
    width: auto;
  }
}

.photolist__item:last-child {
  -webkit-box-flex: 10;
          flex-grow: 10;
}

.photolist__item img {
  width: 100%;
  max-height: 100%;
  min-height: 100%;
  min-width: 0;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}

@media screen and (min-width: 640px) {
  .photolist__item img {
    width: auto;
    min-width: 100%;
  }
}

.photowall {
  margin: 80px 0;
}

